<!DOCTYPE html>
<html lang="en">
  <head>
    {{ comp.meta() }}
    <link rel="canonical" href="https://zachmanson.com/projects" />
    <title>Projects</title>
  </head>
  <body>
    {{ comp.nav("projects") }}
    <header>
      <h1>Projects</h1>
    </header>
    <main>
      <p>
        A list of "usable" things I have developed that are on the internet.
        The wiki has <a href="https://notes.zachmanson.com/projects">detailed writeups</a> on a few of these.
        I also have a list of more <a href="/projects/microprojects/">boring projects</a>. Most of these are <a href="https://github.com/pavo-etc">open source</a>.
      </p>
      <div class="project-list">
        {{ comp.project_post(
        "Penultimate Guitar",
        "2023",
        "https://pg.zachmanson.com",
        "A better UI for Ultimate Guitar",
        "Built with Next.js",
        "/images/pg.png",
        "https://github.com/pavo-etc/penultimate-guitar",
        "https://notes.zachmanson.com/penultimate-guitar/"
        ) }}
        {{ comp.project_post(
        "Mastodon Thread Unroller",
        "2023",
        "https://unroller.zachmanson.com",
        "A thread unroller for Mastodon",
        "Built with SvelteKit",
        "/images/thread-unroller.png",
        "https://github.com/pavo-etc/mastodon-unroller",
        ""
        ) }}
        {{ comp.project_post(
        "Alculator",
        "2022-",
        "https://alculator.zachmanson.com",
        "The cheapest products at Dan Murphy's, per standard drink",
        "Built with Next.js and abuse of Dan Murphy's public APIs",
        "/images/alculator.png",
        "https://github.com/pavo-etc/alculator",
        "https://notes.zachmanson.com/alculator/"
        ) }}
        {{ comp.project_post(
        "Minecraftle",
        "2022-",
        "https://minecraftle.zachmanson.com",
        "A daily puzzle game fusing Minecraft crafting recipes and Wordle",
        "Built with Flask",
        "/images/minecraftle.png",
        "https://github.com/pavo-etc/minecraftle",
        "https://notes.zachmanson.com/minecraftle/"
        ) }}
        {{ comp.project_post(
        "POOPS",
        "2022-",
        "https://github.com/codersforcauses/poops",
        "A PWA for Pets of Older Persons for registering vet concerns and logging incident reports",
        "Built with Next.js and Firebase",
        "/images/poops.jpg",
        "https://github.com/codersforcauses/poops"
        ) }}
        {{ comp.project_post(
        "Status Messenger",
        "2023",
        "https://marketplace.visualstudio.com/items?itemName=ZachManson.status-messenger",
        "A VS Code extension for pushing messages to the status bar",
        "",
        "/images/status-messenger.png",
        "https://github.com/pavo-etc/status-messenger",
        "https://notes.zachmanson.com/status-messenger/"
        ) }}
        {{ comp.project_post(
        "Ochrs",
        "2022-",
        "https://notes.zachmanson.com",
        "My personal notes and the generator I use to publish them",
        "Built with Python",
        "/images/ochrs.png",
        "https://github.com/pavo-etc/notes",
        "https://notes.zachmanson.com/ochrs/"
        ) }}
        {{ comp.project_post(
        "WA COVID-19 Tracker",
        "2022",
        "https://tracker.zachmanson.com/",
        "A dashboard for COVID-19 cases in WA",
        "Built with Python and SQLite",
        "/images/cases_dark.png",
        "https://github.com/pavo-etc/wa-covid-tracker",
        "https://notes.zachmanson.com/covid-19-tracker/"
        ) }}
        {{ comp.project_post(
        "snakeware OS",
        "2020",
        "https://github.com/joshiemoore/snakeware",
        "Contributed to snakeware, a Linux distro with a pure Python userspace",
        "",
        "/images/snakeware.png",
        "https://github.com/joshiemoore/snakeware",
        "https://notes.zachmanson.com/snakeware/"
        ) }}
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
