<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/styles/colors.css">
	<link rel="stylesheet" href="/styles/code.css">
	<link rel="stylesheet" href="/styles/global.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/site.webmanifest">
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#bd93f9">
	<link rel="shortcut icon" href="/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" content="/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<title> {{ title }} </title>
</head>

<body>
    <nav>
        <p class="location"><a href="/">Zach Manson</a> / <a href="/blog/">Memory Leaks</a> /</p>
    </nav>
    <header>
        <h1>{{title}}</h1>
        <p>{{subtitle}}</p>
        <p><span class="date">{{date}}</span></p>
    </header>
    
    <article>
        {{body}}
    </article>    

    <footer>
		<p>
            <a href="/blog/rss.xml">RSS</a><br>
			Made inefficiently by <a href="https://zachmanson.com">Zach Manson</a>
		</p>
    </footer>
</body>
