<!DOCTYPE html>
<html lang="en">
  <head>
    {{ comp.meta() }}

    <title>Memory Leaks</title>
  </head>

  <body>
    {{ comp.nav("blog") }}

    <header>
      <h1>Memory Leaks</h1>
      <p>Artisanally crafted text dumps</p>
    </header>
    <main>
      <div class="postlist">
        {% for post in posts_data %}
        <a class="post" href="./{{post.post_dir}}/">
          <div class="flex">
            <h3>{{post.title}}</h3>
            <p class="flex-right date">{{post.date}}</p>
          </div>
          <p>{{post.tagline}}</p>
        </a>
        {% endfor %}
      </div>
    </main>

    {{ comp.blog_footer() }}
  </body>
</html>
