<!DOCTYPE html>
<html lang="en">
  <head>
    {{ comp.meta() }}
    <title>Memory Leaks</title>
  </head>
  <body>
    {{ comp.nav("blog") }}
    <header>
      <h1 class="reset">Memory Leaks</h1>
      {# <p>Artisanally crafted text dumps</p> #}
    </header>
    <main>
      <div class="postlist">
        {% for post in posts_data %}
          <div class="post">
            <div class="flex justify-between">
              <p class="bold">
                <a href="./{{ post.post_dir }}/">{{ post.title }}</a>
              </p>
              <p class="date">{{ post.date }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
    {{ comp.blog_footer() }}
  </body>
</html>
