<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/code.css" />
    {{ comp.meta() }}
    <title>{{ title }}</title>
  </head>
  <body>
    {{ comp.nav("blog") }}
    <header>
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
      <p>
        <time datetime="{{ date }}">{{ date }}</time>
      </p>
    </header>
    <main>
      <article>{{ body }}</article>
    </main>
    {{ comp.blog_footer(title) }}
  </body>
</html>
