<!DOCTYPE html>
<html>
  <head>
    {{ comp.meta() }}

    <title>404</title>
  </head>

  <body>
    {{ comp.nav("") }}

    <header>
      <h1>Nice Try</h1>
    </header>
    <main>
      <a href="/">
        <img
          src="https://zachmanson.com/images/sunnies.jpeg"
          alt="Zach's dumb face"
          title="return home"
          width="300"
          height="400"
          class="center-image"
        />
      </a>
      <p>
        404 Error. This page certainly doesn't exist. And I'm disappointed in
        you for thinking it did.
      </p>
    </main>

    <footer></footer>
  </body>
</html>
