<!DOCTYPE html>
<html>
  <head>
    {{ comp.meta() }}

    <link rel="canonical" href="https://zachmanson.com/microprojects" />
    <title>Microprojects</title>
  </head>

  <body>
    {{ comp.nav("projects") }}

    <header>
      <h1>Microprojects</h1>
      <p>Boring things that are only here so I don't lose the links to them</p>
    </header>
    <main>
      <div class="postlist">
        {{ comp.project_post(
          "Broke Prod?",
          "2023",
          "https://zachmanson.com/projects/prod-broke",
          "A page to report broken deployments to api.zachmanson.com, so Status Messenger can stay updated.",
          "Built with vanilla JavaScript",
        ) }}
        {{ comp.project_post(
          "api.zachmanson.com",
          "2023",
          "https://api.zachmanson.com",
          "A simple API server for various purposes.",
          "Built with Flask",
          "",
          "https://github.com/pavo-etc/api"
        ) }}
        {{ comp.project_post(
          "Ochrs",
          "2022",
          "https://notes.zachmanson.com",
          "A static wiki generator that I used to build my personal wiki and archive.  It was originally a fork of Nchrs (which is itself a fork of XXIIVV), but has been rebuilt from the ground up for use with Obsidian.",
          "Built with Python",
          "",
          "https://github.com/pavo-etc/notes",
          "https://notes.zachmanson.com/ochrs/"
        ) }}
        {{ comp.project_post(
          "ironprof",
          "2022",
          "",
          "A simple static site generator that allows for component insertion into plain HTML using jinja templating. ironprof is used to build this website.",
          "Built with Python",
          "",
          "https://github.com/pavo-etc/pavo-etc.github.io/tree/master/generator",
          "https://notes.zachmanson.com/ironprof/"
        ) }}
        {{ comp.project_post(
          "Mean Reversion Trading Algorithm",
          "2022",
          "",
          "Led a small team to develop quantitative trading algorithms based on mean reversion techniques with QFin UWA. Our final algorithm outperformed all other teams' algorithms, and was presented to IMC Trading.",
          "Built with Python",
          "/images/TSLA-cropped.png",
          "https://github.com/QFinUWA/2022-Mean-Reversion-Team4"
        ) }}
        {{ comp.project_post(
          "Todont",
          "2022",
          "https://todont.zachmanson.com/",
          "A simple persistent todo list application.",
          "Built with React",
          "/images/todont.png",
          "https://github.com/pavo-etc/todont"
        ) }}
      </div>
    </main>

    <footer></footer>
  </body>
</html>
