@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 1rem;
  font-family: sans-serif;
  color: var(--white);
  background-color: var(--background);
  text-align: center;
  line-height: 1.4;
}

::selection {
  background-color: var(--grey);
}

nav {
  /* max-width: 40rem; */
  margin: 1rem auto;
}

nav a {
  margin: 0;
}

main {
  text-align: left;
  max-width: 40rem;
  margin: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

figcaption {
  text-align: center;
}

header {
  max-width: 40rem;
  margin: auto;
}

summary h2 {
  display: inline;
}

.vert-margin-std {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.vert-items-tight * {
  margin-top: 0;
  margin-bottom: 0;
}

.m-0 {
  margin: 0;
}

footer {
  font-weight: lighter;
  margin-top: 5rem;
}

table {
  margin: 1rem 0;
}

hr {
  color: var(--white);
  margin: 2rem auto;
}

p {
  margin: 1rem auto;
}

summary {
  margin: 1rem auto;
}

a {
  color: var(--pink);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a:hover {
  text-decoration-color: var(--pink);
}

a:active {
  color: var(--white);
  text-decoration-color: var(--white);
  transition: all 0s ease-in;
}

a[href^="/"],
a[href^="./"],
a[href*="zachmanson.com"] {
  color: var(--purple);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a[href^="/"]:hover,
a[href^="./"]:hover,
a[href*="zachmanson.com"]:hover {
  text-decoration-color: var(--purple);
}

a[href^="/"]:active,
a[href^="./"]:active,
a[href*="zachmanson.com"]:active {
  color: var(--white);
  text-decoration-color: var(--white);
  transition: all 0s ease-in;
}

time {
  font-weight: lighter;
}

.icon {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  fill: var(--white);
  margin: auto;
}

.icon:hover {
  fill: var(--purple);
}

.center {
  text-align: center;
}

/* For homepage */

.discrete-link {
  white-space: nowrap;
  margin: 0 0.5rem;
}

.activated-link,
.activated-link[href^="/"],
.activated-link[href^="./"],
.activated-link[href*="zachmanson.com"] {
  color: var(--white);
}

.activated-link:hover,
.activated-link[href^="/"]:hover,
.activated-link[href^="./"]:hover,
.activated-link[href*="zachmanson.com"]:hover {
  color: var(--purple);
  text-decoration-color: var(--purple);
}

/* For projects */

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project {
  display: block;
  text-decoration: none;
  color: var(--white);
  text-align: left;
  width: 18rem;
}

.project p {
  margin: 0.5rem 0;
}

.project img {
  width: 18rem;
  max-height: 8rem;
  object-fit: cover;
}

.project-title {
  font-weight: 700;
}

.project > .inline-flex {
  column-gap: 0.5rem;
}

.project-description {
  flex-basis: 70%;
  flex-grow: 2;
}

.project-image {
  width: 100%;
  max-width: 640px;
}

.project-image img {
  max-width: 10rem;
  max-height: 8rem;
}

/* For blog */

.postlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post,
.post[href^="./"],
.post[href^="/"] {
  display: block;
  text-align: left;
}

.post p {
  margin: 0;
  /* font-weight: 200; */
}

/* Flex */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.flex-left {
  flex: auto;
  text-align: left;
}

.flex-right {
  flex: auto;
  text-align: right;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* For article itself */

article img,
.center-image {
  display: block;
  margin: 0 auto;
}

/* Inline monospace */
p code {
  color: var(--yellow);
}

blockquote {
  margin: 1rem;
  padding: 0 1rem;
  border-left: 2px solid var(--dark-blue);
}

blockquote + p > cite {
  margin-left: 1rem;
}

cite::before {
  content: "– ";
}

.bold {
  font-weight: 500;
}

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
