body {
  margin: 1rem;
  font-family: sans-serif;
  color: var(--white);
  background-color: var(--background);
  text-align: center;
  line-height: 1.4;
}

::selection {
  background-color: var(--grey);
}

nav {
  /* max-width: 40rem; */
  margin: 1rem auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

figcaption {
  text-align: center;
}

header {
  max-width: 40rem;
  margin: auto;
}

summary h2 {
  display: inline;
}

.vert-margin-std {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.vert-items-tight * {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  font-weight: lighter;
  margin-top: 5rem;
}

table {
  margin: 1rem 0;
}

hr {
  color: var(--white);
  margin: 2rem auto;
}

p {
  margin: 1rem auto;
}

summary {
  margin: 1rem auto;
}

a {
  color: var(--purple);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a:hover {
  text-decoration-color: var(--purple);
}

a:active {
  color: var(--white);
  text-decoration-color: var(--white);
  transition: all 0s ease-in;
}

.date {
  font-weight: lighter;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.monospace {
  font-family: monospace;
}

.location {
  text-align: left;
}

/* For homepage */

img.profile {
  border-radius: 50%;
}

.button {
  display: inline-block;
  width: 5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  outline: solid;
  outline-color: var(--purple);
  transition: all 0.1s ease-in;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--purple);
}

.button:active {
  outline-style: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40rem;
  margin: 0 auto;
  justify-content: center;
}

.discrete-link {
  white-space: nowrap;
  margin: 0 0.5rem;
}

.activated-link {
  color: var(--white);
}

.activated-link:hover {
  color: var(--purple);
  text-decoration-color: var(--purple);
}

/* For blog/projects */

.postlist {
  max-width: 40rem;
  margin: auto;
}

a.post {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--white);
  outline-color: var(--purple);
  transition: all 0.1s ease-in;
  text-align: left;
  border-radius: 8px;
}

a.post:hover {
  outline-style: solid;
}

a.post h3 {
  margin: 0.5rem 0;
}

a.post p {
  margin: 0.5rem 0;
  font-weight: 300;
}

.flex {
  display: flex;
}

.flex-left {
  flex: auto;
  text-align: left;
}

.flex-right {
  flex: auto;
  text-align: right;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-description {
  flex-basis: 70%;
  flex-grow: 2;
}

.post-image {
  margin: auto;
}

.post-image img {
  max-width: 10em;
  max-height: 8rem;
}

/* For article itself */

article {
  text-align: left;
  max-width: 40rem;
  margin: 0 auto;
}

article h1,
article h2,
article h3 {
  text-align: left;
}

article img {
  display: block;
  margin: 0 auto;
}

.center-col {
  text-align: left;
  max-width: 36rem;
  margin: auto;
}

.icon {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  fill: var(--white);
  margin: auto;
}

.icon:hover {
  fill: var(--purple);
}

.center {
  text-align: center;
}

.middle {
  margin: auto;
}
