body {
    margin: 1em;
    font-family: sans-serif;
    color: var(--white);
    background-color: var(--background);
    text-align: center;
    line-height: 1.4;
}

::selection {
    background-color: var(--grey);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

header {
    max-width: 40em;
    margin: auto;
}

p {
    max-width: 40em;
    margin: 1em auto;
}

a {
    color: var(--purple);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.1s ease-in;
}

a:hover {
    text-decoration-color: var(--purple);
}

a:active {
    color: var(--white);
    text-decoration-color: var(--white);
    transition: all 0.0s ease-in;
}

img.profile {
    border-radius: 50%;
}

.button {
    display: inline-block;
    width: 5em;
    margin: .5em;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    outline: solid;
    outline-color: var(--purple);
    transition: all 0.1s ease-in;
}

.button:hover {
    background-color: var(--purple);
}

.button:active {
    outline-style: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40em;
    margin: 0 auto;
    justify-content: center;
}

.discrete-link {
    white-space: nowrap;
    margin: 0 .5em;
}