<!DOCTYPE html>
<html>
  <head>
    {{ comp.meta() }}
    <link rel="canonical" href="https://zachmanson.com/projects/prod-broke" />
    <title>Prod Broke?</title>
  </head>
  <body>
    {{ comp.nav("projects") }}
    <header>
      <h1>Prod Broke?</h1>
      <p>Report a broken deployment</p>
    </header>
    <main>
      <form id="form" class="center">
        <select name="deployment" id="deployment" defaultValue="DEV">
          <option key="DEV" value="DEV">DEV</option>
          <option key="UAT" value="UAT">UAT</option>
          <option key="PROD" value="PROD">PROD</option>
        </select>
        <input id="date" type="text" name="date" placeholder="Date" />
        <input id="password" type="password" name="password" placeholder="Password" />
        <input type="submit" value="Submit" />
      </form>
      <p class="center" id="response"></p>
      <script type="text/javascript">
    function submit(form) {
      document.getElementById("response").innerText = "";

      console.log("Submitting");
      let formData = new FormData(form);
      let inputs = Object.fromEntries(formData);
      let payload = {"key": inputs.password, "update": {},};
      payload.update[inputs.deployment] = inputs.date;

      fetch('https://api.zachmanson.com/api/prod-broke', {
        method: 'POST',
        mode: "cors",
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
      .then(response => {
        if (response.status !== 500) {
          return response.json()
        } else {
					return {"error": "Internal server error"}
        }
      })
      .then(response => {
        document.getElementById("response").innerText = JSON.stringify(response)
      })
      .catch(e => {
        document.getElementById("response").innerText = e;
      });

    }
    let day = (new Date()).toISOString()
    document.getElementById("date").value = day.slice(0,day.indexOf("T"));

    document.getElementById("form").addEventListener("submit", function (e) {
      e.preventDefault();
      submit(e.target);
    });
      </script>
    </main>
    <footer>
    </footer>
  </body>
</html>
